.container{
    width:70%;
}
@media(max-width:1300px){
    .container {
        width: 90%;
    }
}
@media(max-width:414px){
    .container {
        width: 100%;
    }
}
/**/
.navbar-default{
    background: #602636;
    border-radius: 0;
    max-height: 76px;
}
/*----------------------------------------------------------------------------*/
.section-icons{
    margin-top:50px;
    height: auto;
}
.col-md-3.scale-effect.icon-images {
    text-align: center;
}
.scale-effect{
    display:inline-block;
    border:0;
    height:200px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}
.scale-effect:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.icon-images{
    margin:10px 0;
}
li.mesaj-bun-venit {
    margin: 10% auto;
    font-size: 20px;
    color:#fff;
}

.navbar-nav{
    text-align:center;
}




